
<div class="modal fade" id="modifiertest10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>

            <div class="modal-body">
                <div class="panel panel-flat">
                    <div class="panel-body">

                        <h5>Erreur:</h5>
                        @*Assurez vous qu'il y'a aucun congé ou autorisation pour les agent du activité x dans les dates ou vous voulez
                        Ajouter un évenement de type fermture Annulle ou bien Jours fériés ou bien Planning  
                        @ViewBag.test sssss*@
                        @ViewBag.A
                          @*@ViewBag.b
                        @ViewBag.C*@
                        @*@using (Html.BeginForm("DeleteEvent", "Home", new { id = Model.Id }, FormMethod.Get, new { enctype = "multipart/form-data" }))
                            {
                                <input type="submit" value="Delete" class="btn btn-danger" />
                            }*@
                        <!-- /basic radar chart -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>