body {
}
 #myChart-license-text {
            display: none;
            color: white;
        }
 #myChartFiche-license-text {
            display: none;
            color: white;
        }
 #myChartTelephonie-license-text {
            display: none;
            color: white;
        }