@{
    ViewBag.Title = "tableaubord";
    Layout = "~/Views/Shared/_Layout_user.cshtml";
}
@section test{
<div id='myChart'><a class="zc-ref" href="https://www.zingchart.com/">Powered by ZingChart</a></div>

<script type="text/javascript">

    zingchart.THEME="classic";
    var myConfig = {
        "background-color":"#ecf2f6",
        "graphset":[
                      {
            "type": "bar",
            "background-color": "white",
            "height":"35%",
            "width":"96%",
             "x":"2%",
            "y":"3%",
            "plotarea": {
                "margin": "50 60 100 60",
                "y": "90px"
            },
            "title":{
                    "margin-top":"7px",
                    "margin-left":"12px",
                    "text":"TODAY'S SALES",
                    "background-color":"none",
                    "shadow":0,
                    "text-align":"left",
                    "font-family":"Arial",
                    "font-size":"11px",
                    "font-color":"#707d94"
                },
            "legend": {
                "layout": "x3",
                "y": "13%",
                "x": "34.5%",
                "overflow": "page",
                "alpha": 0.05,
                "shadow": false,
                "marker": {
                    "show-line":"true",
                        "type":"circle",
                        "font-family":"Arial",
                        "font-size":"10px",
                        "size":4,
                        "line-width":2,
                        "padding":"3px"
                },
                "border-width": 0,


            },
            "plot": {
                "animation": {
                    "effect": "ANIMATION_SLIDE_BOTTOM"
                }
            },
            "scale-x": {
                "line-color": "#7E7E7E",
                "labels":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],
                "item": {
                    "font-color": "#7e7e7e"
                },
                "guide": {
                    "visible": false
                }
            },
            "scale-y": {
                "line-color": "#7E7E7E",
                "item": {
                    "font-color": "#7e7e7e"
                },
                "values": "0:100:25",
                               "guide":{
                    "rules":[
                        {
                          "rule":"%i == 0",
                          "line-width":0
                        },
                        {
                          "rule":"%i > 0",
                          "line-style":"solid",
                          "line-width":"1px",
                          "line-color":"#d2dae2",
                          "alpha":0.4
                        }

                    ]
                },
                "label": {
                  "text": "$ Billions",
                  "font-family": "arial",
                  "font-angle":0,
                  "bold": true,
                  "font-size": "14px",
                  "font-color": "#7E7E7E",
                  "offset-y":"-190px",
                  "offset-x":"20px"
            }
            },
            "series": [
                {
                    "values": [
                         37.47,
                        57.59, 37.47,
                        57.59, 37.47,
                        57.59, 37.47,
                        57.59, 37.47,
                        57.59
                    ],
                    "alpha": 0.95,
                    "borderRadiusTopLeft": 7,
                    "background-color": "#8993c7",
                    "text": "Apple"
                },
                {
                    "values": [
                        2.02,
                        2.59,2.02,
                        2.59,2.02,
                        2.59,2.02,
                        2.59,2.02,
                        2.59
                    ],
                    "borderRadiusTopLeft": 7,
                    "alpha": 0.95,
                    "background-color": "#fdb462",
                    "text": "Facebook"
                }
            ]
        },
             {
                "type":"line",
                "background-color":"#fff",
                "border-color":"#dae5ec",
                "border-width":"1px",
                "width":"48%",
                "height":"63%",
                "x":"2%",
                "y":"35.2%",
                "title":{
                    "margin-top":"7px",
                    "margin-left":"12px",
                    "text":"TODAY'S SALES",
                    "background-color":"none",
                    "shadow":0,
                    "text-align":"left",
                    "font-family":"Arial",
                    "font-size":"11px",
                    "font-color":"#707d94"
                },
                "plot":{
                    "animation":{
                        "delay":500,
                        "effect":"ANIMATION_SLIDE_LEFT"
                    }
                },
                "plotarea":{
                    "margin":"50px 25px 70px 46px"
                },
                "scale-y":{
                    "values":"0:100:25",
                    "line-color":"none",
                    "guide":{
                        "line-style":"solid",
                        "line-color":"#d2dae2",
                        "line-width":"1px",
                        "alpha":0.5
                    },
                    "tick":{
                        "visible":false
                    },
                    "item":{
                        "font-color":"#8391a5",
                        "font-family":"Arial",
                        "font-size":"10px",
                        "padding-right":"5px"
                    }
                },
                "scale-x":{
                    "line-color":"#d2dae2",
                    "line-width":"2px",
                    "values":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],
                    "tick":{
                        "line-color":"#d2dae2",
                        "line-width":"1px"
                    },
                    "guide":{
                        "visible":false
                    },
                    "item":{
                        "font-color":"#8391a5",
                        "font-family":"Arial",
                        "font-size":"10px",
                        "padding-top":"5px"
                    }
                },
                "legend":{
                    "layout":"x4",
                    "background-color":"none",
                    "shadow":0,
                    "margin":"auto auto 15 auto",
                    "border-width":0,
                    "item":{
                        "font-color":"#707d94",
                        "font-family":"Arial",
                        "padding":"0px",
                        "margin":"0px",
                        "font-size":"9px"
                    },
                    "marker":{
                        "show-line":"true",
                        "type":"match",
                        "font-family":"Arial",
                        "font-size":"10px",
                        "size":4,
                        "line-width":2,
                        "padding":"3px"
                    }
                },
                "crosshair-x":{
                    "lineWidth":1,
                    "line-color":"#707d94",
                    "plotLabel":{
                        "shadow":false,
                        "font-color":"#000",
                        "font-family":"Arial",
                        "font-size":"10px",
                        "padding":"5px 10px",
                        "border-radius":"5px",
                        "alpha":1
                    },
                    "scale-label":{
                        "font-color":"#ffffff",
                        "background-color":"#707d94",
                        "font-family":"Arial",
                        "font-size":"10px",
                        "padding":"5px 10px",
                        "border-radius":"5px"
                    }
                },
                "tooltip":{
                    "visible":false
                },
                "series":[
                    {
                        "values":[69,68,54,48,70,74,98,70,72,68,49,69],
                        "text":"Kenmore",
                        "line-color":"#4dbac0",
                        "line-width":"2px",
                        "shadow":0,
                        "marker":{
                            "background-color":"#fff",
                            "size":3,
                            "border-width":1,
                            "border-color":"#36a2a8",
                            "shadow":0
                        },
                        "palette":0
                    },
                    {
                        "values":[51,53,47,60,48,52,75,52,55,47,60,48],
                        "text":"Craftsman",
                        "line-width":"2px",
                        "line-color":"#25a6f7",
                        "shadow":0,
                        "marker":{
                            "background-color":"#fff",
                            "size":3,
                            "border-width":1,
                            "border-color":"#1993e0",
                            "shadow":0
                        },
                        "palette":1,
                        "visible":1
                    },
                    {
                        "values":[42,43,30,50,31,48,55,46,48,32,50,38],
                        "text":"DieHard",
                        "line-color":"#ad6bae",
                        "line-width":"2px",
                        "shadow":0,
                        "marker":{
                            "background-color":"#fff",
                            "size":3,
                            "border-width":1,
                            "border-color":"#975098",
                            "shadow":0
                        },
                        "palette":2,
                        "visible":1
                    },
                    {
                        "values":[25,15,26,21,24,26,33,25,15,25,22,24],
                        "text":"Land's End",
                        "line-color":"#f3950d",
                        "line-width":"2px",
                        "shadow":0,
                        "marker":{
                            "background-color":"#fff",
                            "size":3,
                            "border-width":1,
                            "border-color":"#d37e04",
                            "shadow":0
                        },
                        "palette":3
                    }
                ]
            },
            {
                "type":"area",
                "background-color":"#fff",
                "border-color":"#dae5ec",
                "border-width":"1px",
                "width":"48%",
                "height":"63%",
                "x":"50%",
                "y":"35.2%",
                "title":{
                    "margin-top":"7px",
                    "margin-left":"12px",
                    "text":"TODAY'S SALES",
                    "background-color":"none",
                    "shadow":0,
                    "text-align":"left",
                    "font-family":"Arial",
                    "font-size":"11px",
                    "font-color":"#707d94"
                },
                "plot":{
                    "animation":{
                        "delay":500,
                        "effect":"ANIMATION_SLIDE_LEFT"
                    }
                },
                "plotarea":{
                    "margin":"50px 25px 70px 46px"
                },
                "scale-y":{
                    "values":"0:100:25",
                    "line-color":"none",
                    "guide":{
                        "line-style":"solid",
                        "line-color":"#d2dae2",
                        "line-width":"1px",
                        "alpha":0.5
                    },
                    "tick":{
                        "visible":false
                    },
                    "item":{
                        "font-color":"#8391a5",
                        "font-family":"Arial",
                        "font-size":"10px",
                        "padding-right":"5px"
                    }
                },
                "scale-x":{
                    "line-color":"#d2dae2",
                    "line-width":"2px",
                    "values":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],
                    "tick":{
                        "line-color":"#d2dae2",
                        "line-width":"1px"
                    },
                    "guide":{
                        "visible":false
                    },
                    "item":{
                        "font-color":"#8391a5",
                        "font-family":"Arial",
                        "font-size":"10px",
                        "padding-top":"5px"
                    }
                },
                "legend":{
                    "layout":"x4",
                    "background-color":"none",
                    "shadow":0,
                    "margin":"auto auto 15 auto",
                    "border-width":0,
                    "item":{
                        "font-color":"#707d94",
                        "font-family":"Arial",
                        "padding":"0px",
                        "margin":"0px",
                        "font-size":"9px"
                    },
                    "marker":{
                        "show-line":"true",
                        "type":"match",
                        "font-family":"Arial",
                        "font-size":"10px",
                        "size":4,
                        "line-width":2,
                        "padding":"3px"
                    }
                },
                "crosshair-x":{
                    "lineWidth":1,
                    "line-color":"#707d94",
                    "plotLabel":{
                        "shadow":false,
                        "font-color":"#000",
                        "font-family":"Arial",
                        "font-size":"10px",
                        "padding":"5px 10px",
                        "border-radius":"5px",
                        "alpha":1
                    },
                    "scale-label":{
                        "font-color":"#ffffff",
                        "background-color":"#707d94",
                        "font-family":"Arial",
                        "font-size":"10px",
                        "padding":"5px 10px",
                        "border-radius":"5px"
                    }
                },
                "tooltip":{
                    "visible":false
                },
                "series":[
                    {
                        "values":[69,68,54,48,70,74,98,70,72,68,49,69],
                        "text":"Kenmore",
                        "line-color":"#4dbac0",
                        "line-width":"2px",
                        "shadow":0,
                        "marker":{
                            "background-color":"#fff",
                            "size":3,
                            "border-width":1,
                            "border-color":"#36a2a8",
                            "shadow":0
                        },
                        "palette":0
                    },
                    {
                        "values":[51,53,47,60,48,52,75,52,55,47,60,48],
                        "text":"Craftsman",
                        "line-width":"2px",
                        "line-color":"#25a6f7",
                        "shadow":0,
                        "marker":{
                            "background-color":"#fff",
                            "size":3,
                            "border-width":1,
                            "border-color":"#1993e0",
                            "shadow":0
                        },
                        "palette":1,
                        "visible":1
                    },
                    {
                        "values":[42,43,30,50,31,48,55,46,48,32,50,38],
                        "text":"DieHard",
                        "line-color":"#ad6bae",
                        "line-width":"2px",
                        "shadow":0,
                        "marker":{
                            "background-color":"#fff",
                            "size":3,
                            "border-width":1,
                            "border-color":"#975098",
                            "shadow":0
                        },
                        "palette":2,
                        "visible":1
                    },
                    {
                        "values":[25,15,26,21,24,26,33,25,15,25,22,24],
                        "text":"Land's End",
                        "line-color":"#f3950d",
                        "line-width":"2px",
                        "shadow":0,
                        "marker":{
                            "background-color":"#fff",
                            "size":3,
                            "border-width":1,
                            "border-color":"#d37e04",
                            "shadow":0
                        },
                        "palette":3
                    }
                ]
            }
        ]
    };

    zingchart.render({
    	id : 'myChart',
    	data : myConfig,
    	height: 700,
    	width: '100%'
    });


</script>
}
