@model  RecordsMVC.Models.TemplateModel

@{
    ViewBag.Title = "TestShared";
    Layout = "~/Views/Shared/_LayoutSuperviseur.cshtml";
}

@section test{
    
    <h1>YOYO</h1>
}

@section pagetitle{
    <h4> <span class="text-semibold">Espace Qualité</span> -  Accès aux Enregistrements</h4>
}
@section pagetitlebody{
    <li><a href="#"><i class="icon-home2 position-left"></i> Accès aux Enregistrements</a></li>
    <li class="active">Par Agent</li>
}