@if (ViewBag.role == "Qualité")
{
    Layout = "~/Views/Shared/_Layout_Qualite.cshtml";
}
@if (ViewBag.role == "Agent Qualité")
{
    Layout = "~/Views/Shared/_Layout_AgentQualite.cshtml";
}
@if (ViewBag.role == "Agent")
{
    Layout = "~/Views/Shared/_Layout_agent.cshtml";
}
@section test{



    <div class="panel panel-white">
        <div class="panel-heading">
            <h6 class="panel-title text-semibold">Grille d'écoute et Référentiel Battonage Vecteur Plus Comonline</h6>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>
        <table class="table table-striped media-library table-lg">
            <thead>
                <tr style="background-color:darkblue;">
                    <th style="text-align:center;font-weight:bold;"><font color="white">Items</font> </th>
                    <th style="text-align:center;font-weight:bold;"><font color="white">Définition</font></th>
                    <th style="text-align:center;font-weight:bold;"><font color="white">Ponderation</font></th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Nature</font>
                        </h5>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b> OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 1</b>
                    </td>
                </tr>

                
                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Typologie</font>
                        </h5>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b> OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 1</b>
                    </td>
                </tr>

                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Avancement</font>
                        </h5>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b> OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 1</b>
                    </td>
                </tr>

                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Destination</font>
                        </h5>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b> OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 1</b>
                    </td>
                </tr>

                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Code RP</font>
                        </h5>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b> OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 1</b>
                    </td>
                </tr>

                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">MOA</font>
                        </h5>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b> OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 1</b>
                    </td>
                </tr>

                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">MOA & Architectes</font>
                        </h5>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b> OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 1</b>
                    </td>
                </tr> 

                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Bureaux d'Etudes</font>
                        </h5>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b> OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 1</b>
                    </td>
                </tr>

                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Bailleur Sociaux</font>
                        </h5>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b> OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 1</b>
                    </td>
                    </tr>
                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Date Accord</font>
                        </h5>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b> OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 1</b>
                    </td>
                </tr>

                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Date PC</font>
                        </h5>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b> OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 1</b>
                    </td>
                </tr>
               
                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Date de Consultation</font>
                        </h5>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b> OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 1</b>
                    </td>
                </tr>

                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Date de Travaux</font>
                        </h5>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b> OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 1</b>
                    </td>
                </tr>

                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Date de Livraison</font>
                        </h5>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b> OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 1</b>
                    </td>
                </tr>

                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Surface Plancher</font>
                        </h5>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b> OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 1</b>
                    </td>
                </tr>

                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Surface Terrain</font>
                        </h5>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b> OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 1</b>
                    </td>
                </tr>

                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Surface par Typologie</font>
                        </h5>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b> OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 1</b>
                    </td>
                </tr>

                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Nombre de Batiment</font>
                        </h5>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b> OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 1</b>
                    </td>
                </tr>

                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Nombre d'étages</font>
                        </h5>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b> OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 1</b>
                    </td>
                </tr>

                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Ascenceur Oui/Non</font>
                        </h5>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b> OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 1</b>
                    </td>
                </tr>

                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Nombre d'ascenceur</font>
                        </h5>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b> OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 1</b>
                    </td>
                </tr>

                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Lieu d'exécution</font>
                        </h5>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b> OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 1</b>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
}
@section testProfile{

    <a class="dropdown-toggle" data-toggle="dropdown">
        <img src=@Model.Url alt="">
        <span>@Model.userName</span>
        <i class="caret"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">

        <li><a href="@Url.Action("logout", "Authentification")"><i class="icon-switch2"></i> Logout</a></li>
    </ul>
}
@section sidebarProfile{

    <a href="#" class="media-left"><img src=@Model.Url class="img-circle img-sm" alt=""></a>
    <div class="media-body">
        <span class="media-heading text-semibold">@Model.userName</span>
        <div class="text-size-mini text-muted">
            <i class="icon-user text-size-small"></i> &nbsp;@Model.pseudoNameEmp
        </div>
    </div>
    <div class="media-right media-middle">

    </div>
}
@section pagetitle{
    <h4> <span class="text-semibold">Espace Qualité</span> -  Grille d'écoute et Référentiel</h4>
}
@section pagetitlebody{
    <li><a href="#"><i class="icon-home2 position-left"></i> Grille d'écoute et Référentiel</a></li>
    <li class="active">Battonage Vecteur Plus</li>
}