@if (ViewBag.role == "Qualité")
{
    ViewBag.Title = "Ref_BO_SCDiff";

    Layout = "~/Views/Shared/_Layout_Qualite.cshtml";
}
@if (ViewBag.role == "Agent Qualité_AchatPublic")
{
    ViewBag.Title = "Ref_BO_SCDiff";

    Layout = "~/Views/Shared/_Layout_AchatPublic.cshtml";
}
@if (ViewBag.role == "Agent Qualité_Diffusion")
{
    ViewBag.Title = "Ref_BO_SCDiff";

    Layout = "~/Views/Shared/_Layout_Diffusion.cshtml";
}
@section test{


    <div class="panel panel-white">
        <div class="panel-heading">
            <h6 class="panel-title text-semibold">Grille d'écoute et Référentiel Front Office Service Client Diffusion GISI / ETAI / ROL / GM </h6>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>
        <table class="table table-striped media-library table-lg">
            <thead>
                <tr style="background-color:indianred;">
                    <th style="text-align:center;font-weight:bold;"><font color="white">Items</font> </th>
                    <th style="text-align:center;font-weight:bold;"><font color="white">Définition</font></th>
                    <th style="text-align:center;font-weight:bold;"><font color="white">Ponderation</font></th>
                    <th style="text-align:center;font-weight:bold;"><font color="white"> Note</font></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Accueil</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            Le client est accueilli par un conseiller comme suit: "Service Clients, Prénom, bonjour".
                         </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b> OK/KO</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b>2</b>
                    </td>
                </tr>

                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Analyse/compréhension de la demande</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            Le conseiller se montre disponible, aide le client à s’exprimer et répond de façon claire et compréhensible.
                          <br />
                             - Pose les bonnes questions afin de mieux comprendre la demande du client.
                            <br />
                           - Reformule la demande pour rassurer le client de la bonne compréhension.
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>  OK/KO</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 3</b>
                    </td>
                </tr>

                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Maitrise des outils de travail (loggia/hcub)</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            Le conseiller doit savoir manipuler et trouver l'information sur les différents outils de travail: 
                            - recherche des comptes et lecture des infos sur logia                                                                                                                                                                                                         
                            - recherche de l'historique des échanges avec le client sur CRM
                            - consultatio, création ou modif sur HCUB ou shugar
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 4</b>
                    </td>
                </tr>

                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Connaissance du produit</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            Le conseiller doit maitriser le contenu de l'abonnement: connaître les services web, le domaine traité (argus de l'assurance porte sur l'assurance)
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO/AA/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 3</b>
                    </td>
                </tr>
                
                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Respect des process de travail</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            Le conseiller doit respecter les consignes et les instructions de travail pour le traitement des dossiers clients.
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 6</b>
                    </td>
                </tr>
               
                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Pertinence de la réponse</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            Le client obtient auprès du conseiller client une réponse adaptée à sa demande.
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO/AA</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 6</b>
                    </td>
                </tr>

                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">FCR</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            Vérifier si le client s'est manifesté pour la  meme demande ou pas?

                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 6</b>
                    </td>
                </tr>
               
                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Autonomie</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            Le conseiller doit traiter la demande client d'une façon autonome.
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 3</b>
                    </td>
                </tr>
                
                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Approche Commerciale</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            Le conseiller doit mettre en valeur nos produits, retenir les clients, maintenir ou génerer du CA.
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO/AA/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 4</b>
                    </td>
                </tr>
               
                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Discours/empathie/attitude</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                             Discours:
                            <br />
                            - Un rythme maîtrisé : une idée par phrase
                            <br />
                            - Langage = professionnel, simple, présent, positif.
                            <br />
                            - Empathie, bonne humeur (le sourire s'entend au téléphone)
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO/AA</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 4</b>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Prise de congé</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            Le conseiller client s’assure :
                            <br />
                            - de la compréhension réciproque des termes de l’entretien
                            <br />
                            - que le client n'a pas d'autres demandes ou interrogations avant une prise de congé courtoise avec au minimum une formule de politesse.
                           <br />
                             - On raccroche après le client.
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 2</b>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Identification du client CRM</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            Le conseiller doit créer l'intervention dans le compte du client correspondant (modifier le compte si l'intervention est créée automatiquement).                                                                                                                                                                                               
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 5</b>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Qualification des demandes sur CRM</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            Sur l'intervention créée, le conseiller doit sélectionner la bonne typologie de la réclamation (catégorie/sous catégorie), la source de la demande et le titre.
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 5</b>
                    </td>
                </tr>
              
            </tbody>
        </table>
    </div>
}
@section testProfile{

    <a class="dropdown-toggle" data-toggle="dropdown">
        <img src=@Model.Url alt="">
        <span>@Model.userName</span>
        <i class="caret"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">

        <li><a href="@Url.Action("logout", "Authentification")"><i class="icon-switch2"></i> Logout</a></li>
    </ul>
}
@section sidebarProfile{

    <a href="#" class="media-left"><img src=@Model.Url class="img-circle img-sm" alt=""></a>
    <div class="media-body">
        <span class="media-heading text-semibold">@Model.userName</span>
        <div class="text-size-mini text-muted">
            <i class="icon-user text-size-small"></i> &nbsp;@Model.pseudoNameEmp
        </div>
    </div>
    <div class="media-right media-middle">

    </div>
}
@section pagetitle{
    <h4> <span class="text-semibold">Espace Qualité</span> -  Grille d'écoute et Référentiel</h4>
}
@section pagetitlebody{
    <li><a href="#"><i class="icon-home2 position-left"></i> Grille d'écoute et Référentiel</a></li>
    <li class="active">Front Office Service Client Diffusion</li>
}