@if (ViewBag.role == "Qualité")
{
    ViewBag.Title = "Ref_FO_SCSAMRC";

    Layout = "~/Views/Shared/_Layout_Qualite.cshtml";
}
@if (ViewBag.role == "Agent Qualité_CustomerService")
{
    ViewBag.Title = "Ref_FO_SCSAMRC";

    Layout = "~/Views/Shared/_Layout_CustomerService.cshtml";
}
@if (ViewBag.role == "Agent_SAMRC")
{
    ViewBag.Title = "Ref_FO_SCSAMRC";

    Layout = "~/Views/Shared/_Layout_agent_SAMRC.cshtml";
}
@section test{



    <div class="panel panel-white">
        <div class="panel-heading">
            <h6 class="panel-title text-semibold">Grille d'écoute Front Office SAM / RC du Service Client Automobile</h6>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>
        <table class="table table-striped media-library table-lg">
            <thead>
                <tr style="background-color:indianred;">
                    <th style="text-align:center;font-weight:bold;"><font color="white">Items</font> </th>
                    <th style="text-align:center;font-weight:bold;"><font color="white">Définition</font></th>
                    <th style="text-align:center;font-weight:bold;"><font color="white">Evaluation</font></th>
                    <th style="text-align:center;font-weight:bold;"><font color="white">Ponderation</font></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Accueil</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            Le client est accueilli par un conseiller qui :
                            <br />
                            - respecte au minimum une formule d'accueil définie en fonction du service.
                            <br />
                            - s’identifie et identifie le client
                          </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b> OK/KO/AA</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b>2</b>
                    </td>
                </tr>

                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">MAJ des coordonnées Client</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            Le collaborateur doit confirmer 
                            le numero de tel et l'adresse mail du client 
                            systematiquement (si le client nous contacte du
                            meme numero enregistré sur le dossier pas de besoin
                            de confirmer le num), 
                            <br />
                            Si l'adresse mail est inexistante il est imperatif de la renseigner
                            dans l'AS 400
                            <br />
                            S'il y a une adresse mail deja enregistré sur l'AS 400 il fauut imperativement
                            la valider avec le client,ne jamais ecraser une adresse mail deja valide, la nouvelle 
                            doit figurer dans Salesforce (commentaire)
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b> OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b>3</b>
                    </td>
                </tr>


                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Découverte des attentes</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            Le conseiller se montre disponible, aide le client à s’exprimer et répond de façon claire et compréhensible.
                            <br />
                            Pose les bonnes questions afin de mieux comprendre la demande du clien
                            <br />
                            Reformule la demande pour rassurer le client de la bonne compréhension
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>  OK/KO/AA</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 4</b>
                    </td>
                </tr>

                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Utilisation des Outils</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            Le conseiller doit savoir manipuler et trouver l'information sur les différents outils de travail: 
                            <br />                                                                                               
                               - recherche des comptes et lecture des infos     
                            <br />                                                                                                                                                     
                                - recherche de l'historique des échanges avec le client sur CRM
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO/AA</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 5</b>
                    </td>
                </tr>

                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Mise en attente</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            Le conseiller annonce clairement au client, la mise en attente et il faut entendre l'accord du client avant de le mettre en attente                           
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 2</b>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Temps d'attente</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            Le temps d’attente prédéfini ou annoncé au client est respecté.
                            <br />
                            Le temps d'attente ne doit pas excéder 2 minutes sans reprise de contact.
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 2</b>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Pertinence de la réponse</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            Le client obtient auprès du conseiller client une réponse adaptée à sa demande tout en respectant les procédures en vigeure.
                            <br />
                            le conseiller doit faire preuve d'une bonne proactivité afin d'apporter la meilleur solution au client et répondre a ses besoins
                       </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO/AA</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 6</b>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Conclusion du contact</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            Le conseiller client s’assure :
                            <br />
                            - de la compréhension réciproque des termes de l’entretien
                            <br />
                            - que le client n'a pas d'autres demandes ou interrogations 
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO/AA</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 3</b>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Discours</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                             Le Collaborateur:
                         <br />   - Il adopte un rythme maîtrisé : une idée par phrase (ni hachuré, ni surchargé), une pause pondérée en fin de phrase (ni saccadé, ni maculé de blancs).
                            <br />- Il respecte la règle des 4C (court, clair, concret, cohérent).
                           <br /> - Langage = professionnel, simple, présent, positif.
                           <br /> Le collaborateur utilise un vocabulaire bien choisi et fait preuve d'une bonne qualité d'expression garantissant la compréhension du client et favorisant une bonne communication:
                           <br /> - Choix des termes (vocabulaire + synchronisation verbale).
                         <br />   - Forme de termes (grammaire).
                           <br /> - Conjugaison des verbes.
                          <br />  - Structure de la phrase (syntaxe).
                          <br />  - Débit adapté
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO/AA</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 4</b>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Empathie / Attitude / Personnalisation</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            Le collaborateur met en place un climat chaleureux (sourire, intonation, écoute)
                            <br />
                            - Il  se montre disponible, aimable et dynamique durant tout l'appel et réussit à établir une relation personnalisée et à gagner la confiance du client (utilise des mots positifs et rassurants).
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO/AA</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 4</b>
                    </td>
                </tr>

                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Historisation</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            Sur l'intervention créée, le conseiller doit sélectionner la bonne typologie de la demande, identifier l'origine de la requete et renseigner tout les champs d'historisation Salesforce conformement aux process.
                              </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO/AA</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 6</b>
                    </td>
                </tr>

                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Prise de congé</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            Assurer une prise de congé courtoise avec au minimum une formule de politesse et laisser l’initiative au client de raccrocher.
                          </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 2</b>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
}
@section testProfile{

    <a class="dropdown-toggle" data-toggle="dropdown">
        <img src=@Model.Url alt="">
        <span>@Model.userName</span>
        <i class="caret"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">

        <li><a href="@Url.Action("logout", "Authentification")"><i class="icon-switch2"></i> Logout</a></li>
    </ul>
}
@section sidebarProfile{

    <a href="#" class="media-left"><img src=@Model.Url class="img-circle img-sm" alt=""></a>
    <div class="media-body">
        <span class="media-heading text-semibold">@Model.userName</span>
        <div class="text-size-mini text-muted">
            <i class="icon-user text-size-small"></i> &nbsp;@Model.pseudoNameEmp
        </div>
    </div>
    <div class="media-right media-middle">

    </div>
}
@section pagetitle{
    <h4> <span class="text-semibold">Espace Qualité</span> -  Grille d'écoute et Référentiel</h4>
}
@section pagetitlebody{
    <li><a href="#"><i class="icon-home2 position-left"></i> Grille d'écoute et Référentiel</a></li>
<li class="active">Service Client Automobile</li>
    <li class="active">Front Office SAM RC</li>
}