@if (ViewBag.role == "Qualité")
{
    ViewBag.Title = "Ref_BPP_VecteurPlus";

    Layout = "~/Views/Shared/_Layout_Qualite.cshtml";
}
@if (ViewBag.role == "Agent Qualité")
{
    ViewBag.Title = "Ref_BPP_VecteurPlus";

    Layout = "~/Views/Shared/_Layout_AgentQualite.cshtml";
}
@if (ViewBag.role == "Agent")
{
    ViewBag.Title = "Ref_BPP_VecteurPlus";

    Layout = "~/Views/Shared/_Layout_agent.cshtml";
}
@section test{



    <div class="panel panel-white">
        <div class="panel-heading">
            <h6 class="panel-title text-semibold">Grille d'écoute et Référentiel BPP Vecteur Plus Comonline</h6>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>
        <table class="table table-striped media-library table-lg">
            <thead>
                <tr style="background-color:darkblue;">
                    <th style="text-align:center;font-weight:bold;"><font color="white">Items</font> </th>
                    <th style="text-align:center;font-weight:bold;"><font color="white">Définition</font></th>
                    <th style="text-align:center;font-weight:bold;"><font color="white">Evaluation</font></th>
                    <th style="text-align:center;font-weight:bold;"><font color="white">Ponderation</font></th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Présentation et Identification</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            Le conseiller se présente personnellement et présente le service "Vecteur+ du groupe Moniteur"
                            <br />
                            -  identifie le responsable et/ou le service
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b> OK/KO/AA</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 2</b>
                    </td>
                </tr>

                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Presenter l'objet de l'appel</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            Presenter clairement et efficacement  l'objet et le motif de l'appel

                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>  OK/KO/AA</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 4</b>
                    </td>
                </tr>

                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Validation et confirmation de la Nature et Type, Lieu d'execution , Destination</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            le collaborateur doit confirmer l'existance des projets =  Nature et type des travaux, le lieu d'execution et destination
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 5</b>
                    </td>
                </tr>

                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Calendrier</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            Le collaborateur doit collecter le maximum des dates (consultation, date limite de la remise des offres, travaux, livraison, Depot et accord PC…)
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 5</b>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Envergure</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            le collaborateur doit poser les questions par rapport aux surfaces (Plancher et Terrain),  nombre de batiments, nombre d'étages et nombre d'ascenceurs...
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 5</b>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Complétude et précision des questions par Typologie</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            le collaborateur doit impérativement poser toutes les questions pour enrichir les fiches selon le type de batiment (stockage, logement, santé…)
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 5</b>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Confirmation et ajout de tout les intervenants (surtout le bon MOA)</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            le collaborateur doit collecter les coordonnées des intervenants manquants sur les fiches (MOA, Architecte, bureau d'études…) (faire épeler le nom pour eviter les erreurs )
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 5</b>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Enchainement logique des questions</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            Le collaborateur doit suivre une methode de questionnement logique afin de poser toutes les questions possibles (Complétude)
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO/AA/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 5</b>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Traitement des objections</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            Le collaborateur doit imperativement rebondir et traiter toutes les objections afin de retenir le client pour collecter les informations necessaires
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO/AA/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 4</b>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Reformulation et/ou Recap</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            le collaborateur doit reformuler au fur et a mesure toutes les informations communiquer par le client / ou faire un recap a la fin de la communication pour s'assurer de l'exactitude des informations communiquer
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO/AA/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 4</b>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Transcription des informations</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            le collaborateur doit retranscrire sur l'outil NKL les informations obtenues par telephone
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 5</b>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Ajout des codes appropriés</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            le collaborateur doit saisir systématiquement le code approprié a la nature du projet
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 5</b>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Note Client / Historique</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            le collaborateur doit rediger correctement (Orthographe, conjugaison) la totalité des information collecter sur les  champs "Note Client" et "Post it"
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO/AA/NE</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 5</b>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Discours</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            Le Collaborateur:
                            <br />
                            - Il adopte un rythme maîtrisé : une idée par phrase (ni hachuré, ni surchargé), une pause pondérée en fin de phrase (ni saccadé, ni maculé de blancs).
                            <br />
                            - Il respecte la règle des 4C (court, clair, concret, cohérent).
                            <br />
                            - Langage = professionnel, simple, présent, positif.
                            <br />
                            Le collaborateur utilise un vocabulaire bien choisi et fait preuve d'une bonne qualité d'expression garantissant la compréhension du client et favorisant une bonne communication:
                            <br />
                            - Choix des termes (vocabulaire + synchronisation verbale).
                            <br />
                            - Forme de termes (grammaire).
                            <br />
                            - Conjugaison des verbes.
                            <br />
                            - Structure de la phrase (syntaxe).
                            <br />
                            - Débit adapté
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO/AA</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 6</b>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Empathie / Attitude</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            Le collaborateur met en place un climat chaleureux (sourire, intonation, écoute)
                            <br />
                            - Il se montre disponible, aimable et dynamique durant tout l'appel
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO/AA</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 5</b>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <h5 style="font-weight:bold;">
                            <font color="black">Prise de congé</font>
                        </h5>
                    </td>
                    <td style="background-color:grey" width="50%">
                        <font color="White">
                            Assurer une prise de congé courtoise avec au minimum une formule de politesse et laisser l’initiative au client de raccrocher.
                        </font>
                    </td>
                    <td style="color:black;text-align:center;" width="20%">
                        <b>OK/KO/AA</b>
                    </td>
                    <td style="color:black;text-align:center;" width="10%">
                        <b> 2</b>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
}
@section testProfile{

    <a class="dropdown-toggle" data-toggle="dropdown">
        <img src=@Model.Url alt="">
        <span>@Model.userName</span>
        <i class="caret"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">

        <li><a href="@Url.Action("logout", "Authentification")"><i class="icon-switch2"></i> Logout</a></li>
    </ul>
}
@section sidebarProfile{

    <a href="#" class="media-left"><img src=@Model.Url class="img-circle img-sm" alt=""></a>
    <div class="media-body">
        <span class="media-heading text-semibold">@Model.userName</span>
        <div class="text-size-mini text-muted">
            <i class="icon-user text-size-small"></i> &nbsp;@Model.pseudoNameEmp
        </div>
    </div>
    <div class="media-right media-middle">

    </div>
}
@section pagetitle{
    <h4> <span class="text-semibold">Espace Qualité</span> -  Grille d'écoute et Référentiel</h4>
}
@section pagetitlebody{
    <li><a href="#"><i class="icon-home2 position-left"></i> Grille d'écoute et Référentiel</a></li>
    <li class="active">BPP Vecteur Plus</li>
}